# Hostnames (.localhost no requiere /etc/hosts)
ORIGEN_DOMAIN=origen.volcan.localhost
DESTINO_DOMAIN=destino.volcan.localhost
PMA_DOMAIN=pma.volcan.localhost
MAIL_DOMAIN=mail.volcan.localhost
TRAEFIK_DASHBOARD_DOMAIN=traefik.volcan.localhost

# Puertos altos (Herd-Windows ocupa 80 y 443)
HTTP_PORT=8080
TRAEFIK_DASHBOARD_PORT=8081

# DBs (passwords se autogeneran)
ORIGEN_DB_NAME=wp_origen
ORIGEN_DB_USER=wp_origen
ORIGEN_DB_PASSWORD=
ORIGEN_DB_ROOT_PASSWORD=
DESTINO_DB_NAME=wp_destino
DESTINO_DB_USER=wp_destino
DESTINO_DB_PASSWORD=
DESTINO_DB_ROOT_PASSWORD=

# WP admin defaults
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=admin@volcan.localhost

# Xdebug
XDEBUG_MODE=develop,debug
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003

ENABLE_MULTISITE_ORIGEN=false
